<!DOCTYPE html>
<html lang="en" class="full-height">

<head>
    <title><%= title %></title>
    <link rel="icon" href="/favicons.png" />
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href="/stylesheet/form.css"/>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/popper.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/mdb.min.js"></script>
    <script type="text/javascript" src="/javascripts/form.js"></script>
</head>

<body>
<% include components/navbar.ejs %>
<div class="jumbotron">
    <div>
        <h1>Welcome <%= name %></h1>
        <% if (level === 3) {%>
            <h4>Admin</h4>

        <%} else if (level === 2) {%>
            <h4>Guru</h4>

        <%}%>
    </div>
    <% include components/footer.ejs %>
</div>
</body>


</html>
